 <form action="/info"> 
        <label>
            Enter book title and press enter to find link to book cover:
            <input type="string" name="book_title" placeholder="Star Wars" required>
        </label>
        <button>search title</button>
</form>
