<h1>New Slam Dunk Player</h1>

<form action="/slamdunks" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Teeam:
        <input name="team" required>
    </label>

    <label>
        Position:
        <input name="position" required>
    </label>

    <label>
        Number:
        <input type="number" required>
    </label>

    <label>
        Quote:
        <input type="quote" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Slam Dunk Player</button>
</form>