<h1>New shipwreck</h1>

<form action="/shipwrecks" method="post">
    <label>Vessel:
        <input type="text" name="vessel" required>
    </label>

    <label>Year:
        <input type="text" name="year">
    </label>

    <label>Country:
        <input type="text" name="country">
    </label>

    <label>Image:
        <input type="url" name="image">
    </label>



<button>Create shipwreck!</button>
</form>
