<h2>Animals</h2>

<%= link_to "Add animal", add_path %>

<div class="content-container animals-container">
    <% @animals.each do |animal| %>
        <p>
            <%= link_to animal.name, animal_path(animal.id) %>
        </p>
    <% end %>
</div>
