<h1>Ask the Magic 8 Ball a question!</h1>

<form action="/magicballs/answer">
    <label>
        Your question:
        <input type="search" name="title" placeholder="Question?" required autofocus>
    </label>

    <button>Input</button>
</form>