<h1>
Games
</h1>

<p>
<a href="/magic">
click here for the Magic 8 Ball
</a>
</p>
or
<p>
<a href="/secret">
click here to play the secret number game
</a>
</p>
or
<p>
<a href="/rockpaperscissor">
click here to play Rock, Paper, Scissors
</a>
</p>