<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/musicians.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <nav>
        <a href="/musicians">Stars</a>
        <a href="/musicians/new">New Popstar</a>
        |
        <a href="/songs">Songs</a>
        <a href="/songs/new">New Song</a>
    </nav>
    <%= yield %>
    </div>
</body>
</html>