<h1>NEW STARS</h1>

<form action="/musicians" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Star</button>
</form>