<h1>NEW SONGS</h1>

<form action="/songs" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

 <label>
        Album: 
        <input name="album" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Song</button>
</form>