<h1>Add New Stars</h1>

<form class="myForm" action="/brightest_stars" method="post">
        <label>
            Name:
        </label>
         <input name="name" required>

        <label>
            Astronomical name:
        </label>
        <input name="astronomicalname">

        <label>
            Meaning:
        </label>
        <input name="meaning">

        <label>
            Distance:
        </label>
        <input name="distance">

        <label>
            Apparent magitude:
        </label>
        <input name="apparentmagitude">

        <label>
            Absolute magnitude:
        </label>
        <input name="absolutemagnitude">

        <label>
            Image:
        </label>
        <input type="url" name="image">
        
        <button>Add</button>
</form>