<h1>Brightest Stars.</h1>
<p>
The following list contains the 100 brightest stars as seen from the earth at night. The information on magnitudes is taken from data obtained by the Hipparcos Satellite Catalog. Distance measurements are from the Observer's Handbook 2001, by The Royal Astronomical Society of Canada.
</p>