<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brightest Stars</title>
    <link rel="stylesheet" href="/css/brightest_stars.css">
</head>
<body>
    <nav class="link">
        <a href="/">Home</a>
        <a href="/brightest_stars">List</a>
        <a href="/brightest_stars/new">Add new</a>
    </nav>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>