<div class="container homepage">
    <h1>Get some fun with Rails</h1>
    <nav>
        <p><a href="/magic-eight-ball">"Roll" Magic 8 Ball</a></p>
        <p><a href="/secret-number">"Drop" Secret Number</a></p>
        <p><a href="/roshambo">Rock Paper Scissors</a></p>
    </nav>

</div>
