<h2>Add new product</h2>

<form action="/spices" method="post">

    <label for="name">Product Name<input type="text" name="name" id="name" required></label>
    <label for="price">Product Price (AUD)<input type="text" name="price" id="price" required></label>
    <label for="is_organic">Organic <input id="is_organic" name="is_organic" type="text"
            placeholder="1 for organic or 0 for non-organic" required></label>
    <label for="country_origin">Country of Origin<input type="text" id="country_origin" name="country_origin"></label>
    <label for="image">Image Link<input type="url" name="image" id="image"></label>

    <button type="submit">Add</button>
</form>
