<h1>New game</h1>


<form action="<%= games_path %>" method="post">
<label>Name: 
<input name="name" required /> 

</label>


<label>mode:
<input type="text" name="name" />
</label>


<label>developer:
<input type="text" name="developer" />
</label>


<label>release_date:
<input type="date" name="release_date" />
</label>


<label>platform:
<input type="text" name="platform" />
</label>


<label> Image:

<input type="url" name="image" />
</label>


<button>Create game</button>
</form>