<h1>New Mountain</h1>

<form action="<%= mountains_path %>" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Age:
        <input type="number" name="age">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <label>
        Location:
        <input type="name" name="location">
    </label>

    <label>
        Elevation:
        <input type="number" name="elevation">
    </label>

    <label>
        Routes:
        <input type="name" name="routes">
    </label>

    <button>Create Mountain</button>
</form>