<h1>The final challenge</h1>

<img src="/assets/big_yoshi.png" alt="Big Yoshi">

<h2>Can you beat Big Yoshi?</h2>
<form action="/rps/answer">
    <label>
        <button name='guess' value="rock">Rock</button>
        <button name='guess' value="paper">Paper</button>
        <button name='guess' value="scissors">Scissors</button>
    </label>
</form>