<h1>Rock, Paper, Scissors</h1>
<form action="/rps/answer">
    <label>
        <button name='guess' value="scissors">Scissors</button>
        <button name='guess' value="paper">Paper</button>
        <button name='guess' value="rock">Rock</button>
    </label>
</form>