<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="/css/books.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/books">All books</a>
            <a href="/books/new">New book</a>
            |
            <a href="/authors">All authors</a>
            <a href="/authors/new">New author</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>