<form action="/info">
    <label>
    Book title:
    <input type="text" name="book" placeholder="Dictator's Handbook" required>
    </label>



    <button>Find the book!</button>


    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>Popular on Book Finder</h3>
    <br>
    <%= @book_details %>
</form>