<a href="/">Home</a>

<h2>Rock Paper Scissors</h2>


<span>Choice:</span>

<a href="/rock_paper_scissors/rock">
    <button>Rock</button>
</a>

<a href="/rock_paper_scissors/paper">
    <button>Paper</button>
</a>

<a href="/rock_paper_scissors/scissors">
    <button>Scissors</button>
</a>
