<h1>New Cats</h1>

<form action="/cats" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Breed:
        <input name="breed">
    </label>

    <label>
        Sex:
        <input name="sex">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Cat</button>
</form>