<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Volleyball</title>
    <link rel="stylesheet" href="/css/volleyballs.css">
</head>
<body>
    <div class = "container">
        <nav>
            <a href="/">Home</a>
            <a href="/volleyballs">All Volleyball Players</a>
            <a href="/volleyballs/new">New Volleyball PLayer</a>
        </nav>

        <%= yield %>
    </div>
    
</body>
</html>