<div class="secretnumber">
  <h2>Secret Number</h2>

  <form action="/games/secretnumber">
    <label>
      <input
        type="number"
        name="guess"
        placeholder="Enter a number from 1 to 10"
        required
        autofocus
      />
      <button type="submit">Guess</button>
    </label>
  </form>

  <p><%= @answer %></p>
</div>
