<form action="/info">
        <label>
            Please type book title:
            <input name="title" placeholder="Harry Potter" required>
        </label>
        <button>Check cover!</button>
</form>