<h1>New album</h1>

<form action="/albums" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>
    <label>
        <%# Band:
        <input name="band"> %>
    </label>
    <label>
        Release:
        <input name="release">
    </label>
    <label>
        Tracks:
        <input name="tracks">
    </label>
    <label>
        Length:
        <input name="length">
    </label>
    <label>
        Genre:
        <input name="genre">
    </label>
    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create album</button>

</form>