<h1>New band</h1>

<form action="/bands" method="post">

    <label>
        Name:
        <input name="name" required>
    </label>
    <label>
        Number of members:
        <input name="members">
    </label>
    <label>
        Genre:
        <input name="genre">
    </label>
    <label>
        Formed:
        <input name="formed">
    </label>
    <label>
        Active:
        <input name="active">
    </label>
    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create band</button>

</form>