<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMV v2.0</title>
    <link rel="stylesheet" href="/css/bands.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/bands">All bands</a>
            <a href="/bands/new">New band</a>
            |
            <a href="/albums">All albums</a>
            <a href="/albums/new">New album</a>
        </nav>
        <%= yield %>
    </div>
</body>
</html>