body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic;
  overflow: hidden;
}

.duck {
  position: absolute;
  background-image: url(images/duckhunt.png);
  background-position: -445px -290px;
  width: 110px;
  height: 115px;
  transition: top 2s, left 2s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
}

.duck.right {
  background-position: -340px -290px;
}
.duck.right.flap {
  background-position: -120px -290px;
}
.duck {
  background-position: -445px -290px;
}
.duck.flap {
  background-position: -235px -290px;
}
.duck.shot {
  background-position: center;
  background-image: url(images/shot.png);
}

.timer {
  font-size: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.dog {
  position: absolute;
  background-image: url(images/duckhunt2.png);
  background-position: -25px 0px;
  width: 270px;
  height: 235px;
  transition: right 2s, left 2s;
  transition-timing-function: linear;
  background-repeat: no-repeat;
  bottom: 10%;
  left: 5%;
}

.dog.walk {
  background-position: -840px 0px;
}

.dog.hit {
  background-position: -1110px 0px;
}