<div class="content">
    <h3>
        <%= @status.name %>
    </h3>
    <p>Code: <span>
            <%= @status.code %>
        </span></p>
    <p>Description: <span>
            <%= @status.description %>
        </span></p>
</div>
