<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic the Gathering</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
    <h1>Magic the Gathering</h1>
    <a href="/cards">Random MTG Cards</a>
    <br> <br>
    <form action="/set">
        <label> 
            MTG set code:
            <input name="set" placeholder="iko">
        </label>
        <button>Submit</button>
    </form>
</body>
</html>