<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Tracker</title>
    <link rel="stylesheet" href="/css/units.css">
</head>
<body>
    <div class="container">
        <img class="usyd_logo" src="/images/usyd_logo.png" alt="The University of Sydney Logo">
        <h1>Unit Tracker</h1>
        <%= yield %>
    </div>
</body>
</html>