<h2>Add Unit</h2>

<form action="/units" method="post">
    <div class="label-container">
        <label>
            Code:
            <input name="code">
        </label>

        <label>
            Name:
            <input name="name">
        </label>

        <label>
            Credit Points:
            <input type="number" name="credit_points">
        </label>

        <label>
            Mark:
            <input type="number" name="mark">
        </label>

        <label>
            Grade:
            <input name="grade">
        </label>
    </div>

    <div class="button-container">
        <button>Confirm</button>
    </div>

    <a href="/units">
        <button type="button" class="back">Cancel</button>
    </a>
</form>