<h1>Create more cats!</h1>

<form action="/cats" method="post">

    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Breed: 
        <input name="breed" required>
    </label>

     <label>
        Image: 
        <input type="url" name="image" required>
    </label>

    <button>Create Cat!</button>
</form>


