/* ------------Nav bar styling------------ */
nav {
    display: flex;
    justify-content: space-evenly;
}

/* ------------"Edit page" styling ------- */
form {
    display: flex;
    flex-direction: column;
}

input, select {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

button {
    width: 50%;
}

/* ---------- "Show page" styling-------- */
section {
    display: flex;
}

section aside {
    width: 50%;
    padding-top: 50%;
    background-position: center;
    background-size: cover;
}

section .content {
    margin-left: 5%;
}
