<h1> Secret number </h1>

<button class='guess'>1</button>
<button class='guess'>2</button>
<button class='guess'>3</button>
<button class='guess'>4</button>
<button class='guess'>5</button>
<button class='guess'>6</button>
<button class='guess'>7</button>
<button class='guess'>8</button>
<button class='guess'>9</button>
<button class='guess'>10</button>

<h4></h4>

<button class='secret'><%= @random_num %></button>

<script>

    const secretButton = document.querySelector('.secret')
    const secretNum = secretButton.textContent
    let hint = document.querySelector('h4')
    hint.textContent = ""

    const guesses = document.querySelectorAll('.guess')
    guesses.forEach(target =>
    
        target.addEventListener('click', function() {
            if (target.textContent > secretNum) {
                hint.textContent = "Wrong! Guess lower!"
                target.style.backgroundColor = "red";
                target.style.pointerEvents = "none";
            }
            else if (target.textContent < secretNum) {
                hint.textContent = "Wrong! Guess higher!"
                target.style.backgroundColor = "red";
                target.style.pointerEvents = "none";
            }
            else if (target.textContent == secretNum){
                hint.textContent = `Correct guess! The answer is ${target.textContent}!`
                target.style.backgroundColor = "green";
                target.style.pointerEvents = "none";
                guesses.forEach(target =>
                    target.style.pointerEvents = "none")
                secretButton.textContent = "New Game"
                secretButton.classList.remove("secret")
            }        
    }))

    secretButton.addEventListener('click', function() {
        location.reload()
    })



</script>