<h1>Guess a number bettwen 1 and 10!</h1>

<form action="/secret/answer">
    <label>
        Your guess:
        <input type="text" name="secret" placeholder="Number" required autofocus>
    </label>

    <button>Input</button>
</form>