<a href="/magic_eight_ball">
    <button class="home-button">Magic 8 Ball</button>
</a>

<a href="/secret_number">
    <button class="home-button">Secret Number</button>
</a>

<a href="/rock_paper_scissors">
    <button class="home-button">Rock Paper Scissors</button>
</a>