<h1>New Car Brand</h1>

<form action="/brands" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Country of Origin:
        <input name="origin">
    </label>

    <label>
        Logo:
        <input type="url" name="logo">
    </label>

    <button>Create Car Brand</button>
</form>