<h1>New Car</h1>

<form action="/cars" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Brand:
        <input name="parent_brand">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create Car</button>
</form>