<h1>Welcome to the Carnival</h1>

<a href="https://youtu.be/1mR6zmSTDNE" target="_blank">
<img src="/assets/clap.gif" alt="Children clapping">
</a>

<h1>Choose your game:</h1>

<a href="/magic">
<h2>Fortune teller</h2>
</a>
<a href="/number">
<h2>Numbers from the Grave</h2>
</a>
<a href="/rps">
<h2>The final challenge</h2>
</a>