<h1>New character</h1>

<form action="/characters" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Region:
        <input name="region">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create character</button>
</form>