<h1>New skill</h1>

<form action="/skills" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create skill</button>
</form>