body {
    background-color: lightgray;
}

.guess {
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.secret {
    display: none;
}

.shape {
    font-size:100px; 
    padding: 20px;
}