<h1>New Ant</h1>

<form action="/ants" method="post">
    <label>
        Name:
        <input name='name' required>
    </label>

    <label>
        Colour:
        <input name='colour'>
    </label>

    <label>
        Country of Origin:
        <input name='origin'>
    </label>

    <label>
        Does it bite?
        <input name='bites'>
    </label>

    <label>
        Image:
        <input type="url" name='image'>
    </label>

    <button>Create Ant</button>

</form>