<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World of Ants</title>
    <link rel="stylesheet" href="/css/ants.css">
</head>
<body>
    
    <div class="container">
    <br>
        <nav>
        <a href="/">Home</a>
        <a href="/ants">All Ants</a>
        <a href="/ants/new">New Ant</a>
        </nav>

        <%= yield %>

    </div>

</body>
</html>