<img src="/images/world_map.webp" alt="World Map" class="world-map-image">

<nav>
    <a href="/countries">
        <button class="home-button">Countries</button>
    </a>

    <a href="/holidays">
        <button class="home-button">Holidays</button>
    </a>
</nav>
