<h1>Ask Madam Fortune a question</h1>

<img src="/assets/fortune.jpg" class="img"  alt="Fortune Teller">

<br>
<form action="/magic/answer">
    <label> 
        What is your question?
        <input name="question" placeholder="Am I going to become famous?" required autofocus>
    </label>

    <button>Discover your future</button>
<br>
</form>