<h1>Ask the magic 8 ball a question</h1>

<form action="/magic/answer">
    <label> 
        What is your question?
        <input name="question" placeholder="Am I going to become famous?" required autofocus>
    </label>

    <button>Discover your future</button>
</form>