<a href="/">Home</a>

<h2>Magic 8 Ball</h2>

<form action="/magic_eight_ball/result">
    <label>
        Question:
        <input name="question" placeholder="Type your question here..." required autofocus>
    </label>

    <button>Shake 8 Ball</button>
</form>


