<form action="/countries" method ="post">
    <p>
        <label>Name:</label><br>
        <input name="name" required>
    </p>

    <p>
        <label>Official name:</label><br>
        <input name="official_name">
    </p>

    <p>
        <label>Native official name:</label><br>
        <input name="native_official_name">
    </p>

     <p>
        <label>Flag:</label><br>
        <input type="url" name="flag">
    </p>


    <button>Add country</button>


</form>