<form action="/country_names" method ="post">
    <p>
        <label>Country name:</label><br>
        <input name="name" required>
    </p>

    <p>
        <label>Also known as:</label><br>
        <input name="aka" required>
    </p>


    <button>Add country name</button>

</form>


