<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sanction List Finder</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    
</head>
<body>
    <div class="container">
        <nav>
            <a href="/">Home</a>
            <a href="/sanctions">Sanction List</a>
            <a href="/countries">Country List</a>
            <a href="/sanctions/new">Add New Sanction</a>
        </nav>
    <br><br>
        <%= yield %>
    </div>

</body>
</html>