<form action="/sanctions" method ="post">
    <p>
        <label>Name:</label><br>
        <input name="name" required>
    </p>

    <p>
        <label>Title:</label><br>
        <input name="title">
    </p>

    <p>
        <label>Nationality:</label><br>
        <input name="nationality">
    </p>

     <p>
        <label>Risk:</label><br>
        <input name="risk">
    </p>

     <p>
        <label>Image:</label><br>
        <input type="url" name="image">
    </p>


    <button>Add sanction</button>


</form>