<div class="img-container">
    <img src="<%=@book_image%>">
</div>

<ul>
    <li>Title: <%=@book_title%></li>
    <li>Author: <%=@book_author%></li>
    <li>Publish Date: <%=@book_publish_date%></li>
</ul>
