<div class = "rps">
    
    <h1><img class = "icon" src = "/assets/rpsicon.png" alt = "fight icon"> Rock Paper Scissors</h1>

    <p> What is your choice?</p>
    
    <form action="/rockpaperscissors/result" method="get">
        <img class = "choose" src = "/assets/rock.png" alt = "rock">
        <button name="choice" type="submit" value="rock">Rock</button>

        <img class = "choose" src = "/assets/paper.png" alt = "paper">
        <button name="choice" type="submit" value="paper">Paper</button>

        <img class = "choose" src = "/assets/scissors.png" alt = "scissors">
        <button name="choice" type="submit" value="scissors">Scissors</button>
    </form>

    <img class = "deco" src = "/assets/rpsbackground.png" alt = "Rock paper scissors">
</div>