<div class = "secret">
    <h1>Secret Number</h1>

    <p>Choose secret number</p>

    <form class = "numlist" action = '/secretnumber/result'>
        <%# <label>
            Choose number from 1 to 10 :
            <input type = "search" name = "num" placeholder = "Choose one number" required autofocus>
        </label>

        <button>Guess</button> %>
        <button name="num" type="submit" value="1">1</button>
        <button name="num" type="submit" value="2">2</button>
        <button name="num" type="submit" value="3">3</button>
        <button name="num" type="submit" value="4">4</button>
        <button name="num" type="submit" value="5">5</button>
        <button name="num" type="submit" value="6">6</button>
        <button name="num" type="submit" value="7">7</button>
        <button name="num" type="submit" value="8">8</button>
        <button name="num" type="submit" value="9">9</button>
        <button name="num" type="submit" value="10">10</button>

    </form>
</div>