<div class = "home">
    <h1>Games on Rails</h1>
    <p>You can choose to play these game below. Have fun! </p>

    <div class = "show">
        <img class = "homepic" src = "/assets/magicball.png" alt = "magic 8 ball">
        <img class = "homepic" src = "/assets/secretnum.png" alt = "secret number">
        <img class = "homepic" src = "/assets/rpsicon.png" alt = "fight icon">

        <p>Magic 8 Ball</p>
        <p>Secret Number</p>
        <p>Rock Paper Scissors</p>
    </div>

</div>