<div class = "magic">
    <h1>Magic 8 Ball</h1>
    <img class = "magicball" src = "/assets/magicball.png" alt = "magic 8 ball">

    <form action = "/magic8ball/result">
        <label>
            What is your question? :
            <input type = "search" name = "question" placeholder = "Type your question here..." required autofocus>
        </label>

        <button>Shake</button>
    </form>
</div>