<div class = "magic">
    <h1>Magic 8 Ball</h1>

    <p>The answer for "<%= params[:question] %>" is : <%= @answer %></p>

    <form action = '/magic8ball'>
        <button>Ask again</button>
    </form>
</div>